<h1>Welcome</h1>
<%= link_to 'Admin', admins_url  %>
<h1>Listing posts</h1>
<h1>
  <%= link_to 'Type 1', ptype_url("1") %>
  <%= link_to 'Type 2', ptype_url("2") %>
</h1>
<table>
  <tr>
    <th>Id</th>
    <th>Title</th>
    <th>Created_at</th>
  </tr>

  <% @posts.each do |post| %>
    <tr>
      <td><%= post.id %></td>
      <td><%= post.title %></td>
      <td><%= post.created_at %></td>
      <td>  <%= link_to 'Show blog', wshow_url(post.id) %></td>
    </tr>
  <% end %>
</table>
