<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="row clearfix">
				<div class="col-md-8 column">
					<h3 class="text-center">
						Welcome	Index (Listing posts)
					</h3>
				</div>
				<div class="col-md-4 column">
					 <%= link_to 'Admin', admins_url %>
				</div>
			</div>
			<div class="tabbable" id="tabs-124016">
				<ul class="nav nav-tabs">
					<li>
						 <%= link_to 'All', root_url %>
					</li>
					<li>
						 <%= link_to 'Type 1', ptype_url("1") %>
					</li>
          <li>
						 <%= link_to 'Type 2', ptype_url("2") %>
					</li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="panel-904863">
						<p>
							<table class="table">
                <thead>
                  <tr>
                    <th>
                      Id
                    </th>
                    <th>
                      Title
                    </th>
                    <th>
                      created_at
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <% @posts.each do |post| %>
                      <tr>
                        <td><%= post.id %></td>
                        <td><%= post.title %></td>
                        <td><%= post.created_at %></td>
                        <td>  <%= link_to 'Show blog', wshow_url(post.id) %></td>
                      </tr>
                    <% end %>
                  </tr>
                </tbody>
              </table>
						</p>
					</div>
					<div class="tab-pane" id="panel-686055">
						<p>
							<table class="table">
                <thead>
                  <tr>
                    <th>
                      Id
                    </th>
                    <th>
                      Title
                    </th>
                    <th>
                      created_at
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <% @posts.each do |post| %>
                      <tr>
                        <td><%= post.id %></td>
                        <td><%= post.title %></td>
                        <td><%= post.created_at %></td>
                        <td>  <%= link_to 'Show blog', wshow_url(post.id) %></td>
                      </tr>
                    <% end %>
                  </tr>
                </tbody>
              </table>
            </p>
          </div>
          <div class="tab-pane" id="panel-126022">
            <p>
              <table class="table">
                <thead>
                  <tr>
                    <th>
                      Id
                    </th>
                    <th>
                      Title
                    </th>
                    <th>
                      created_at
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <% @posts.each do |post| %>
                      <tr>
                        <td><%= post.id %></td>
                        <td><%= post.title %></td>
                        <td><%= post.created_at %></td>
                        <td>  <%= link_to 'Show blog', wshow_url(post.id) %></td>
                      </tr>
                    <% end %>
                  </tr>
                </tbody>
              </table>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
