<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<h3>
				博客系统
			</h3>
			<nav class="navbar navbar-default" role="navigation">
				<div class="navbar-header">
						<a  href="/show">Index</a>
							 <a href="/add">Add</a>
							 <a href="/delete">Delete</a>

					 <form  action="/show" method="post">
							search_by_id<input  type="text" name= "id"/>
              search_by_author<input  type="text" name= "author"/>
				   <button  type="submit">Submit</button>
					</form>
				</div>
			</nav>
				<h4>
				特别提示:<strong><%= $msg %></strong>
				</h4>
			</div>
			<table class="table">
				<thead>
					<tr>
						<th>
							Choose
						</th>
						<th>
							Id
						</th>
						<th>
							Message
						</th>
						<th>
							Author
						</th>
            <th>
							Operation
						</th>
					</tr>
				</thead>
				<tbody>
          <% $b_search.reverse.each { |b| %>
					<tr>
						<td>
						</td>
						<td>
							<%= b[0]%>
						</td>
						<td>
							<%= b[1]%>
						</td>
						<td>
						<%= b[2]%>
						</td>
            <td>
						<%= b[3]%>
						</td>
            <td>
              <form class="navbar-form navbar-left" role="search" action="/delete" method="post">
    						<div class="form-group">
    						</div> <button class="btn btn-default" type="submit" name="id" value=<%= b[0]%> >>Delete</button>
    					</form>
						</td>
					</tr>
          <% } %>
				</tbody>
			</table>
		</div>
	</div>
</div>
