<link href="//cdn.bootcss.com/bootstrap/4.0.0-alpha.3/css/bootstrap.css" rel="stylesheet">
<link href="//cdn.bootcss.com/bootstrap/4.0.0-alpha.3/css/bootstrap.min.css" rel="stylesheet">
<script src="//cdn.bootcss.com/bootstrap/4.0.0-alpha.3/js/bootstrap.js"></script>
<script src="//cdn.bootcss.com/bootstrap/4.0.0-alpha.3/js/bootstrap.min.js"></script>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<h3>
				博客
			</h3>
			<tr>
				用户<%= session[:id] %>
			</tr>
			<ul class="nav nav-tabs">
				<li class="active">
			    <a href="/index">Index</a>
					<a href="/add">Add</a>
					<a href="/login">Login</a>
					<a href="/signup">SignUp</a>
					<form  action="/exit" method="get">
 					<input type="submit" value="Exit" />
 				</form>
					<form  action="/index" method="get">
						search_by_id <input type="text" name="mid"/>
					<input type="submit" value="Submit" />
					</form>

			</li>
		</ul>
	</div>
 </div>
	<div class="row clearfix">
		<div class="col-md-8 column">
			<table class="table">
				<thead>
          <tr>
            <% Message.columns.map { |col| %>
            <td> <%= col.name %></td>
            <% } %>
						<td>Delete</td>
          </tr>
				</thead>
				<tbody>
          <% @msg.each do |m| %>
          <tr>
            <td><%= m.id%> </td>
            <td><%= m.content %> </td>
            <td><%= m.user_id %> </td>
            <td><%= m.created_at %> </td>
            <td>
              <form  action="/delete" method="post">
               <input type="submit" name="mid" value="<%= m.id%>" />
              </form>
            </td>
          </tr>
          <% end %>
				</tbody>
			</table>
		</div>
		<div class="col-md-4 column">
			<h2>
				特别提示:
			</h2>
			<p>
				<strong><%= $msg %></strong>
			</p>
		</div>
	</div>
</div>
