<link href="//cdn.bootcss.com/bootstrap/4.0.0-alpha.3/css/bootstrap.css" rel="stylesheet">
<script src="//cdn.bootcss.com/bootstrap/4.0.0-alpha.3/js/bootstrap.js"></script>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<h3 class="text-center">
				Listing posts
			</h3>
			<table class="table">
				<thead>
					<tr>
            <tr>
              <th>
                Id
              </th>
              <th>
                Title
              </th>
              <th>
                created_at
              </th>
            </tr>
					</tr>
				</thead>
				<tbody>
          <% @posts.each do |post| %>
              <tr>
                <td><%= post.id %></td>
                <td><%= post.title %></td>
                <td><%= post.created_at %></td>
                <td>  <%= link_to 'Show blog', blog_comments_url(post.id) %></td>
              </tr>
            <% end %>
          </tr>
				</tbody>
			</table> <%= link_to 'Back',admins_url%><br>
		</div>
	</div>
</div>
